* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   }
body{
    background: #001e4d;
}
.cover{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.cover h2{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}
.questions{
    font-size: 18px;
    padding: 15px 0 1px 0px;
    color: #001e4d;
}
.questions h3{
    font-weight: 500;
}
.ans{
    width: 100%;
    padding: 10px;
    text-align: left;
    margin: 10px 0;
    color: #001e4d;
    border: 1px solid #001e4d;
    background: #fff;
    border-radius: 10px;
    transition: all 0.5s;
}
.ans:hover:not([disabled]){
    background-color: #001e4d;
    color: #fff;
    cursor: pointer;
}
.btn:disabled{
    cursor: no-drop;
}
#nextbtn{
    width: 100px;
    display: none ;
    padding: 10px;
    color: #fff;
    background-color: #001e4d;
    border: 1px solid;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}
#nextbtn:hover{
    background-color: #fff;
    color: #001e4d;
    border: 1px solid #001e4d;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}